psutil
dutil
prophet==1.0.1
hipe4ml>=0.0.14
torch>=1.6.0
scikit-learn>=0.21.3
onnxconverter-common>=1.6.0,<=1.11.0
skl2onnx>=1.12.0
onnxmltools>=1.11.1
onnxruntime>=1.12.0
lightgbm>=2.2
hummingbird_ml[extra]==0.4.2
