psutil
dutil
prophet==1.0.1
numpy>=1.15
pandas>=1.1.5
xgboost>=1.4.2
hipe4ml>=0.0.12
torch>=1.6.0
scikit-learn>=0.21.3
onnxconverter-common>=1.6.0
skl2onnx>=1.7.0
onnxmltools==1.7.0
onnxruntime==1.7.0
lightgbm>=2.2
hummingbird_ml[extra]>=0.4.2
